name: app-fastapi-astra

services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      - db
    volumes:
      - ./alembic/versions:/app/alembic/versions
      - /app/.venv
    develop:
      watch:
        - action: sync
          path: ./app
          target: /app/app
          ignore:
            - "**/__pycache__/**"
            - "**/*.pyc"
            - .venv/
            - .env
            - .git/
        - action: rebuild
          path: ./pyproject.toml

  db:
    image: postgres:latest
    env_file:
      - ./.env
    volumes:
      - db_data:/var/lib/postgresql

volumes:
  db_data:
